
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav ">
    <li class="nav-item">
      <a routerLink="ventas" routerLinkActive="active" class="nav-link">Lista de ventas</a>
    </li>
    <li class="nav-item">
      <a routerLink="registrar-venta" class="nav-link">Añadir venta</a>
    </li>
    <li class="nav-item">
      <a routerLink="productos" class="nav-link">Productos</a>
    </li>
    <li class="nav-item">
      <a routerLink="vendedores" class="nav-link">Vendedores</a>
    </li>
  </ul>
</nav>

<h1 class="text-center">Productos Tienda</h1>
<div class="container">
  <router-outlet>

  </router-outlet>
</div>


